* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: orange; 
}

nav {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center; 
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: black;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block; 
}

.nav-links a:hover {
    background-color: #40b736;
    border-radius: 4px;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.table-container {
    margin-top: 20px;
}

.support-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.support-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.support-form input,
.support-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.support-form input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.support-form input[type="submit"]:hover {
    background-color: #333;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}
