<html>
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          th:href="@{/css/styles.css}">
    <title>Par mums</title>
</head>
 
<body>
    <header>
        <nav>
            <div class="logo">
                Runcis
            </div>
            <ul class="nav-links">
                <a href="/">Sākums</a>
                <a href="/par">Par</a>
                <a href="/kontakti">Kontakti</a>
                <a href="/instruktori">Instruktori</a>
                <a href="/ienakt">Ienākt</a>
            </ul>
        </nav>
    </header>
 
    <section class="about">
        <h1>Par mums</h1>
        <p style="font-weight: bold">
          Runcis autoskola ir vieta kur tu bez jebkādām problēmām iegūsi savas autovadītāja tiesības!
          </p>
        <div class="about-info">
            <div class="about-img">
                <img th:src="@{/images/runcis.png}" alt="illustration">

            </div>
        </div>
    </section>
 
    <section class="team">
        <h1>Iepazīsti mūsu komandu!</h1>
        <div class="team-cards">
            <div class="card">
                <div class="card-img">
                    <img th:src="@{/images/instructor1.png}" alt="instruktors 1">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Alberts</h2>
                    <p class="card-role">Bīskaps</p>
                    <p class="card-email">BiskapsAlbis@inbox.lv</p>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img th:src="@{/images/instructor2.png}" alt="instruktors 2">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Kleopatra</h2>
                    <p class="card-role">Faraons</p>
                    <p class="card-email">BaddieKleo@yahoo.com</p>
                </div>
            </div>
           
           
            <div class="card">
                <div class="card-img">
                    <img th:src="@{/images/instructor3.png}" alt="instruktors 3">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Rūdolfs</h2>
                    <p class="card-role">Ziemeļbriedis</p>
                    <p class="card-email">SantasPaligs@gmail.com</p>
                </div>
            </div>
        </div>
    </section>
 
    <footer>
        <p>© 2024 Runcis.</p>
    </footer>
</body>
 
</html>