<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Take Exam</title>
    <link rel="stylesheet" href="/css/examstyle.css">
</head>
<body>
    <div class="container">
        <h2>Tests</h2>
        <form action="/submit" method="post">
            <input type="hidden" name="questionIndex" th:value="${questionNumber - 1}">
            <input type="hidden" name="score" th:value="${score}">
            <ul>
                <li>
                    <p><strong>Jautājums:</strong> <span th:text="${question.question}"></span></p>
                    <img th:src="${question.imageUrl}" alt="Image not found" width="1200" height="600"> <br>
                    <input type="hidden" name="questionId" th:value="${question.id}">
                    
                    <span th:if="${question.answer1 != null}">
                        <input type="radio" id="answer1" name="selectedAnswer" th:value="${question.answer1}">
                        <label for="answer1" th:text="${question.answer1}"></label><br>
                    </span>
                    
                    <span th:if="${question.answer2 != null}">
                        <input type="radio" id="answer2" name="selectedAnswer" th:value="${question.answer2}">
                        <label for="answer2" th:text="${question.answer2}"></label><br>
                    </span>
                                        
                    <span th:if="${question.answer3 != null}">
                        <input type="radio" id="answer3" name="selectedAnswer" th:value="${question.answer3}">
                        <label for="answer3" th:text="${question.answer3}"></label><br>
                    </span>
                    
                    <span th:if="${question.answer4 != null}">
                        <input type="radio" id="answer4" name="selectedAnswer" th:value="${question.answer4}">
                        <label for="answer4" th:text="${question.answer4}"></label><br>
                    </span>
                </li>
            </ul>
            <button type="submit">Iesniegt</button>
        </form>
    </div>
</body>
</html>
