<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <nav>
        <div class="logo">
            Runcis
        </div>
        <ul class="nav-links">
            <a href="/">Sākums</a>
            <a href="/par">Par</a>
            <a href="/kontakti">Kontakti</a>
            <a href="/instruktori">Instruktori</a>
            <a href="/iziet">Iziet</a>
        </ul>
    </nav>
    <section class="hero">
        <div class="hero-container">
            <div class="column-left">
                <h1>Tu esi pieslēdzies ar savu profilu</h1>
                <p>Zemāk vari apskatīt savu profilu un izmainīt informāciju un paroli</p>
                    <button onclick="window.location.href='/profile'">Profils</button>
            </div>
            <div class="column-right">
                <img th:src="@{/images/runcis.png}" alt="illustration" class="hero-image">
            </div>
        </div>
    </section>

    <footer>
        <p>© 2024 Runcis.</p>
    </footer>
</body>

</html>